-if @money.errors.any?
  .alert.alert-danger
    button type="button" class="close" data-dismiss="alert"
      | &times;
    h4=t('errors.title')
    ul
    - @money.errors.full_messages.each do |msg|
      li= msg
= form_for @money, url: (@money.persisted? ? money_path(@money) : money_index_path), :html => { :class => "form-horizontal" } do |f|
  .form-group
    = f.label :currency_code, t(:currency), :class => 'control-label col-md-2'
    .col-sm-3
      = f.select :currency_code, @currencies.collect  {|p| [ p.name, p.code ]}, {:include_blank => true}, {'data-placeholder' => t(:select_currency), :class => 'form-control'}
  .form-group
    = f.label :amount, t(:amount), :class => 'control-label col-md-2'
    .col-sm-3
      = f.number_field :amount, :class => 'text_field form-control', min: 0, step: 0.01
  .form-group
    .col-md-offset-2.col-sm-3
      =' f.button t(:save), :class =>'btn btn-primary', :disable_with => t(:please_wait)
      = link_to t(:cancel), money_index_path, :class => 'btn btn-default'