.page-header
  h1=t(:money)
p
  button.btn.btn-primary type="button" class="" data-toggle="collapse" data-target="#filter"
    = fa_icon "search", text: t(:filter)
#filter.collapse
  .well.well-small
    = search_form_for @search, url: money_index_path, class: "form-horizontal" do |f|
      .form-group
        = f.label :currency_code_eq, t(:currency)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.select :currency_code_eq, @currencies.collect  {|p| [ p.name, p.code ]}, {:include_blank => true}, {'data-placeholder' => t(:select_currency), :class => 'form-control'}
      .form-group
        = f.label :amount_eq, t(:amount)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.text_field :amount_eq, class: 'search-field form-control'
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.button t(:search), class: 'btn btn-info btn-search'
          '
          button.btn.btn-info type="button" id="q_reset"
            =t(:reset)
table.table.table-striped
  thead
    tr
      th= sort_link @search, :currency_name, t(:currency)
      th= sort_link @search, :amount, t(:amount)
      th= t(:actions)
  tbody
    - @money.each do |money|
      tr
        td= money.currency.name
        td= money.amount
        td
          = link_to money_path(money), class: "btn btn-xs"
            = fa_icon "info-circle lg", title: t(:show)

          = link_to edit_money_path(money), class: "btn btn-xs"
            = fa_icon "edit lg", title: t(:edit)

          = link_to money_path(money), class: "btn btn-xs", :method => :delete, :data => { :confirm => t(:are_you_sure)}
            = fa_icon "remove", title: t(:remove)
= paginate @money
p
  .page_entries_info
    = page_entries_info @money
= link_to t(:new_money), new_money_path, :class => 'btn btn-default btn-new'