.page-header
  h1=t(:money)

.fieldset
  dl
    dt.label.label-default= t(:currency)
    dd
      pre.prettyprint= @money.currency.name
    dt.label.label-default= t(:amount)
    dd
      pre.prettyprint= @money.amount

.form-group
  = link_to t(:back), money_index_path, :class => 'btn btn-default btn-back'
  '
  = link_to t(:edit), edit_money_path(@money), :class => 'btn btn-default btn-edit'
  '
  = link_to t(:remove), money_path(@money), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'