-if @purchase.errors.any?
  .alert.alert-danger
    button type="button" class="close" data-dismiss="alert"
      | &times;
    h4=t('errors.title')
    ul
    - @purchase.errors.full_messages.each do |msg|
      li= msg
= form_for @purchase, url: (@purchase.persisted? ? purchase_path(@purchase) : purchases_path), :html => { :class => "form-horizontal" } do |f|
  .form-group
    = f.label :number, t(:number), :class => 'control-label col-md-2'
    .col-sm-3
      = f.text_field :number, :class => 'text_field form-control', disabled: true
  .form-group    
    = f.label :contractor_id, t(:contractor), :class => 'control-label col-md-2'    
    .col-sm-3
      = f.hidden_field :contractor_id, class: 'select2 ajax form-control', data: { source: contractors_path, placeholder: t(:select_contractor) }
  .form-group
    = f.label :warehouse_id, t(:warehouse), :class => 'control-label col-md-2'
    .col-sm-3
      = f.hidden_field :warehouse_id, class: 'select2 ajax form-control', data: { source: warehouses_path, placeholder: t(:select_warehouse) }
  .form-group
    .col-md-offset-2.col-sm-3
      =' f.button t(:save), :class =>'btn btn-primary', :disable_with => t(:please_wait)
      = link_to t(:cancel), purchases_path, :class => 'btn btn-default'