.page-header
  h1=t(:purchases)
p
  button.btn.btn-primary type="button" class="" data-toggle="collapse" data-target="#filter"
    = fa_icon "search", text: t(:filter)
#filter.collapse
  .well.well-small
    = search_form_for @search, url: purchases_path, class: "form-horizontal" do |f|
      .form-group
        = f.label :number_cont, t(:number)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.text_field :number_cont, class: 'search-field form-control'
      .form-group
        = f.label :contractor_id_eq, t(:contractor), :class => 'control-label col-md-2'
        .col-sm-3
          = f.select :contractor_id_eq, @contractors.collect  {|p| [ p.name, p.id ]}, {:include_blank => true}, {'data-placeholder' => t(:select_contractor), :class => 'form-control'}
      .form-group
        = f.label :warehouse_id_eq, t(:warehouse), :class => 'control-label col-md-2'
        .col-sm-3
          = f.select :warehouse_id_eq, @warehouses.collect  {|p| [ p.name, p.id ]}, {:include_blank => true}, {'data-placeholder' => t(:select_warehouse), :class => 'form-control'}
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.button t(:search), class: 'btn btn-info btn-search'
          '
          button.btn.btn-info type="button" id="q_reset"
            =t(:reset)
table.table.table-striped
  thead
    tr
      th= sort_link @search, :number, t(:number)
      th= sort_link @search, :contractor_id, t(:contractor)
      th= sort_link @search, :warehouse_id, t(:warehouse)
      th= t(:actions)
  tbody
    - @purchases.each do |purchase|
      tr
        td= purchase.number
        td= purchase.warehouse.name
        td= purchase.contractor.name
        td
          = link_to purchase_path(purchase), class: "btn btn-xs"
            = fa_icon "info-circle lg", title: t(:show)

          = link_to edit_purchase_path(purchase), class: "btn btn-xs"
            = fa_icon "edit lg", title: t(:edit)

          = link_to purchase_path(purchase), class: "btn btn-xs", :method => :delete, :data => { :confirm => t(:are_you_sure)}
            = fa_icon "remove", title: t(:remove)
= paginate @purchases
p
  .page_entries_info
    = page_entries_info @purchases
= link_to t(:new_purchase), new_purchase_path, :class => 'btn btn-default btn-new'
