.page-header
  h1=t(:purchase)

.fieldset
  dl
    dt.label.label-default= t(:number)
    dd
      pre.prettyprint= @purchase.number
  dl
    dt.label.label-default= t(:contractor)
    dd
      pre.prettyprint= @purchase.contractor.name
  dl
    dt.label.label-default= t(:warehouse)
    dd
      pre.prettyprint= @purchase.warehouse.name


.form-group
  = link_to t(:back), purchases_path, :class => 'btn btn-default btn-back'
  '
  = link_to t(:edit), edit_purchase_path(@purchase), :class => 'btn btn-default btn-edit'
  '
  = link_to t(:remove), purchase_path(@purchase), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'