-if @company.errors.any?
  .alert.alert-danger
    button type="button" class="close" data-dismiss="alert"
      | &times;
    h4=t('errors.title')
    ul
    - @company.errors.full_messages.each do |msg|
      li= msg
= form_for @company, url: company_update_path, :method => :put, :html => { :class => "form-horizontal" } do |f|
  .form-group
    = f.label :name, t(:name), :class => 'control-label col-md-2'
    .col-sm-3
      = f.text_field :name, :class => 'text_field form-control'
  .form-group
    = f.label :full_name, t(:full_name), :class => 'control-label col-md-2'
    .col-sm-3
      = f.text_field :full_name, :class => 'text_field form-control'
  .form-group
    = f.label :inn, t(:inn), :class => 'control-label col-md-2'
    .col-sm-3
      = f.text_field :inn, :class => 'text_field form-control'
  .form-group
    = f.label :kpp, t(:kpp), :class => 'control-label col-md-2'
    .col-sm-3
      = f.text_field :kpp, :class => 'text_field form-control'
  .form-group
    = f.label :currency_code, t(:currency), :class => 'control-label col-md-2'
    .col-sm-3
      = f.select :currency_code, @currencies.collect  {|p| [ p.name, p.code ]}, {:include_blank => true}, {'data-placeholder' => t(:select_currency), :class => 'form-control'}
  .form-group
    .col-md-offset-2.col-sm-3
      =' f.button t(:save), :class =>'btn btn-primary', :disable_with => t(:please_wait)
      = link_to t(:cancel), company_path, :class => 'btn btn-default'