.page-header
  h1=t(:company)
.fieldset
  dl
    dt.label.label-default= t(:name)
    dd
      pre.prettyprint= @company.name
    dt.label.label-default= t(:full_name)
    dd
      pre.prettyprint= @company.full_name
    dt.label.label-default= t(:inn)
    dd
      pre.prettyprint= @company.inn
    dt.label.label-default= t(:kpp)
    dd
      pre.prettyprint= @company.kpp
    dt.label.label-default= t(:currency)
    dd
      pre.prettyprint= @company.currency.name if @company.currency

.form-group
  =' link_to t(:back), root_path, :class => 'btn btn-default btn-back'
  =' link_to t(:edit), company_edit_path, :class => 'btn btn-default btn-edit'