-if @product_unit_of_measure.errors.any?
  .alert.alert-danger
    button type="button" class="close" data-dismiss="alert"
      | &times;
    h4=t('errors.title')
    ul
    - @product_unit_of_measure.errors.full_messages.each do |msg|
      li= msg
= form_for [@product, @product_unit_of_measure], url: (@product_unit_of_measure.persisted? ? product_product_unit_of_measure_path(@product, @product_unit_of_measure) : product_product_unit_of_measures_path(@product)), :html => { :class => "form-horizontal" } do |f|
  .form-group
    = f.label :unit_of_measure_id, t(:unit_of_measure), :class => 'control-label col-md-2'
    .col-sm-3
      = f.select :unit_of_measure_id, @unit_of_measures.collect  {|p| [ p.name, p.id ]}, {:include_blank => true}, {'data-placeholder' => t(:select_unit_of_measure), :class => 'form-control'}
  .form-group
    = f.label :quantity, t(:quantity), :class => 'control-label col-md-2'
    .col-sm-3
      = f.number_field :quantity, :class => 'text_field form-control', min: 0, :step => 0.001
  .form-group
    .col-md-offset-2.col-sm-3
      =' f.button t(:save), :class =>'btn btn-primary', :disable_with => t(:please_wait)
      = link_to t(:cancel), product_product_unit_of_measures_path(@product), :class => 'btn btn-default'