.page-header
  h1=t(:product_unit_of_measures)
p
  button.btn.btn-primary type="button" class="" data-toggle="collapse" data-target="#filter"
    = fa_icon "search", text: t(:filter)
#filter.collapse
  .well.well-small
    = search_form_for [@product, @search], url: product_product_unit_of_measures_path(@product),  class: "form-horizontal" do |f|
      .form-group
        = f.label :unit_of_measure_id_eq, t(:unit_of_measure)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.select :unit_of_measure_id_eq, @unit_of_measures.collect  {|p| [ p.name, p.id ]}, {:include_blank => true}, {'data-placeholder' => t(:select_unit_of_measure), :class => 'form-control search-field'}
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.button t(:search), class: 'btn btn-info btn-search'
          '
          button.btn.btn-info type="button" id="q_reset"
            =t(:reset)
table.table.table-striped
  thead
    tr
      th= sort_link @search, :unit_of_measure_name, t(:unit_of_measure)
      th= sort_link @search, :quantity, t(:quantity)
      th= t(:actions)
  tbody
    - @product_unit_of_measures.each do |product_unit_of_measure|
      tr
        td= product_unit_of_measure.unit_of_measure.name
        td= product_unit_of_measure.quantity
        td
          = link_to product_product_unit_of_measure_path(@product, product_unit_of_measure), class: "btn btn-xs"
            = fa_icon "info-circle lg", title: t(:show)

          = link_to edit_product_product_unit_of_measure_path(@product, product_unit_of_measure), class: "btn btn-xs"
            = fa_icon "edit lg", title: t(:edit)

          = link_to product_product_unit_of_measure_path(@product, product_unit_of_measure), class: "btn btn-xs", :method => :delete, :data => { :confirm => t(:are_you_sure)}
            = fa_icon "remove", title: t(:remove)
= paginate @product_unit_of_measures
p
  .page_entries_info
    = page_entries_info @product_unit_of_measures
= link_to t(:new_product_unit_of_measure), new_product_product_unit_of_measure_path(@product), :class => 'btn btn-default btn-new'