.page-header
  h1=t(:product_unit_of_measure)

.fieldset
  dl
    dt.label.label-default= t(:unit_of_measure)
    dd
      pre.prettyprint= @product_unit_of_measure.unit_of_measure.name
    dt.label.label-default= t(:quantity)
    dd
      pre.prettyprint= @product_unit_of_measure.quantity

.form-group
  = link_to t(:back), product_product_unit_of_measures_path(@product), :class => 'btn btn-default btn-back'
  '
  = link_to t(:edit), edit_product_product_unit_of_measure_path(@product, @product_unit_of_measure), :class => 'btn btn-default btn-edit'
  '
  = link_to t(:remove), product_product_unit_of_measure_path(@product, @product_unit_of_measure), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'