.page-header
  h1= t(:edit_password)
-if @user.errors.any?
  .alert.alert-danger
    button type="button" class="close" data-dismiss="alert"
      | &times;
    h4=t('errors.title')
    ul
    - @user.errors.full_messages.each do |msg|
      li= msg
= form_for @user, :url => update_password_user_path(@user), :method => :put, :html => { :class => "form-horizontal"} do |f|
  .form-group
    = f.label :password, t(:password)+':', class: "col-sm-2 control-label"
    .col-sm-3
      = f.password_field :password, class: 'col-sm-3 form-control'
  .form-group
    = f.label :password_confirmation, t(:password_confirmation)+':', class: "col-sm-2 control-label"
    .col-sm-3
      = f.password_field :password_confirmation, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.button t(:save), :class =>'btn btn-primary', :disable_with => t(:please_wait)
= link_to t(:back), users_path
