.page-header
  h1= t(:listing_users)
p
  button.btn.btn-primary type="button" class="" data-toggle="collapse" data-target="#filter"
    = fa_icon "search", text: t(:filter)
#filter.collapse
  .well.well-small
    = search_form_for @search, class: "form-horizontal" do |f|
      .form-group
        = f.label :email_cont, t(:email)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.text_field :email_cont, class: 'search-field form-control'
      .form-group
        = f.label :roles_id_eq, t(:roles)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.select :roles_id_eq, @roles.collect  {|p| [ t(p.name), p.id ]}, {:include_blank => true},{'data-placeholder' => t(:select_role), :class => 'search-field form-control'}
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.button t(:search), class: 'btn btn-info btn-search'
          '
          button.btn.btn-info type="button" id="q_reset"
            =t(:reset)
table.table.table-striped.table-hover
  thead
    tr
      th
        = sort_link @search, :email, t(:email)
      th
        = t(:roles)
      th
        =t(:actions)
  tbody
    - @users.each do |user|
      tr
        td= user.email
        td
          -user.roles.each do |role|
            = t(role.name)
            br
        td
          = link_to user, class: "btn btn-xs"
            = fa_icon "info-circle lg"
          = link_to edit_user_path(user), class: "btn btn-xs"
            = fa_icon "edit lg"
          = link_to edit_password_user_path(user), class: "btn btn-xs"
            = fa_icon "lock lg"
          = link_to user, class: "btn btn-xs", method: :delete, data: { confirm: t(:are_you_sure)}
            = fa_icon "remove lg"
= paginate @users
p
  .page_entries_info
    = page_entries_info @users
= link_to t(:new_user), new_user_path, :class =>'btn btn-default btn-new', :disable_with => t(:please_wait)