-if @errors
  .alert.alert-danger
    button type="button" class="close" data-dismiss="alert"
      | &times;
    h4=t('errors.title')
    ul
    - @errors.each do |msg|
      li= msg
= form_for settings_path, :method => :put, :html => { :class => "form-horizontal" } do |f|
  ul.nav.nav-tabs role="tablist"
    li.active
      a data-toggle="tab" href="#home" role="tab"
        = t(:modules)
    li
      a data-toggle="tab" href="#profile" role="tab"  ...
    li
      a data-toggle="tab" href="#messages" role="tab"  ...
    li
      a data-toggle="tab" href="#settings" role="tab"  ...
  .tab-content
    #home.tab-pane.active role="tabpanel"
      .form-group
        .col-sm-offset-2.col-sm-10
          .checkbox
            = label_tag :warehouses, :class => 'control-label'
              = check_box_tag 'warehouses', true, Core::ModulesSettings.warehouses
              =  t(:warehouses)

      .form-group
        .col-md-offset-2.col-sm-3
          =' button_tag t(:save), :class =>'btn btn-primary', :disable_with => t(:please_wait)
          = link_to t(:cancel), company_path, :class => 'btn btn-default'
    #profile.tab-pane role="tabpanel"  ...
    #messages.tab-pane role="tabpanel"  ...
    #settings.tab-pane role="tabpanel"  ...



