-if @unit_of_measure.errors.any?
  .alert.alert-danger
    button type="button" class="close" data-dismiss="alert"
      | &times;
    h4=t('errors.title')
    ul
    - @unit_of_measure.errors.full_messages.each do |msg|
      li= msg
= form_for @unit_of_measure, url: (@unit_of_measure.persisted? ? unit_of_measure_path(@unit_of_measure) : unit_of_measures_path), :html => { :class => "form-horizontal" } do |f|
  .form-group
    = f.label t(:name), :class => 'control-label col-md-2'
    .col-sm-3
      = f.text_field :name, :class => 'text_field form-control'
  .form-group
    .col-md-offset-2.col-sm-3
      =' f.button t(:save), :class =>'btn btn-primary', :disable_with => t(:please_wait)
      = link_to t(:cancel), unit_of_measures_path, :class => 'btn btn-default'