.page-header
  h1=t(:unit_of_measure)

.fieldset
  dl
    dt.label.label-default= t(:name)
    dd
      pre.prettyprint= @unit_of_measure.name


.form-group
  = link_to t(:back), unit_of_measures_path, :class => 'btn btn-default btn-back'
  '
  = link_to t(:edit), edit_unit_of_measure_path(@unit_of_measure), :class => 'btn btn-default btn-edit'
  '
  = link_to t(:remove), unit_of_measure_path(@unit_of_measure), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'