-if @resource.errors.any?
  .alert.alert-danger
    button type="button" class="close" data-dismiss="alert"
      | &times;
    h4=t('errors.title')
    ul
    - @resource.errors.full_messages.each do |msg|
      li= msg
= form_for @resource, url: (@resource.persisted? ? resource_path(@resource) : resources_path), :html => { :class => "form-horizontal" } do |f|
  .form-group
    = f.label t(:name), :class => 'control-label col-md-2'
    .col-sm-3
      = f.text_field :name, :class => 'text_field form-control'
  .form-group
    = f.label t(:desc), :class => 'control-label col-md-2'
    .col-sm-3
      = f.text_area :desc, :class => 'text_field form-control', rows: 6
  .form-group
    .col-md-offset-2.col-sm-3
      =' f.button t(:save), :class =>'btn btn-primary', :disable_with => t(:please_wait)
      = link_to t(:cancel), resources_path, :class => 'btn btn-default'