.page-header
  h1=t(:resources)
p
  button.btn.btn-primary type="button" class="" data-toggle="collapse" data-target="#filter"
    = fa_icon "search", text: t(:filter)
#filter.collapse
  .well.well-small
    = search_form_for @search, url: resources_path, class: "form-horizontal" do |f|
      .form-group
        = f.label :name_cont, t(:name)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.text_field :name_cont, class: 'search-field form-control'
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.button t(:search), class: 'btn btn-info btn-search'
          '
          button.btn.btn-info type="button" id="q_reset"
            =t(:reset)
table.table.table-striped
  thead
    tr
      th= sort_link @search, :name, t(:name)
      th= t(:actions)
  tbody
    - @resources.each do |resource|
      tr
        td= resource.name
        td
          = link_to resource_path(resource), class: "btn btn-xs"
            = fa_icon "info-circle lg", title: t(:show)

          = link_to edit_resource_path(resource), class: "btn btn-xs"
            = fa_icon "edit lg", title: t(:edit)

          = link_to resource_path(resource), class: "btn btn-xs", :method => :delete, :data => { :confirm => t(:are_you_sure)}
            = fa_icon "remove", title: t(:remove)
= paginate @resources
p
  .page_entries_info
    = page_entries_info @resources
= link_to t(:new_resource), new_resource_path, :class => 'btn btn-default btn-new'