.page-header
  h1=t(:resource)

.fieldset
  dl
    dt.label.label-default= t(:name)
    dd
      pre.prettyprint= @resource.name
    dt.label.label-default= t(:desc)
    dd
      pre.prettyprint= @resource.desc

.form-group
  = link_to t(:back), resources_path, :class => 'btn btn-default btn-back'
  '
  = link_to t(:edit), edit_resource_path(@resource), :class => 'btn btn-default btn-edit'
  '
  = link_to t(:remove), resource_path(@resource), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'