.page-header
  h1=t(:currency_rates)
p
  button.btn.btn-primary type="button" class="" data-toggle="collapse" data-target="#filter"
    = fa_icon "search", text: t(:filter)
#filter.collapse
  .well.well-small
    = search_form_for @search, url: currency_rates_path, class: "form-horizontal" do |f|
      .form-group
        = f.label :day_eq, t(:day), :class => 'control-label col-md-2'
        .col-sm-3
          = f.text_field :day_eq, class: "form-control search-field", 'data-date-format' => "YYYY-MM-DD"
      .form-group
        = f.label :currency_code_eq, t(:currency)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.select :currency_code_eq, @currencies.collect  {|p| [ p.name, p.code ]}, {:include_blank => true}, {'data-placeholder' => t(:select_currency), :class => 'form-control search-field'}
      .form-group
        = f.label :rate_eq, t(:rate)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.number_field :rate_eq, class: 'search-field form-control', min: 0 , step: 0.01
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.button t(:search), class: 'btn btn-info btn-search'
          '
          button.btn.btn-info type="button" id="q_reset"
            =t(:reset)
table.table.table-striped
  thead
    tr
      th= sort_link @search, :day, t(:day)
      th= sort_link @search, :currency_name, t(:currency)
      th= sort_link @search, :rate, t(:rate)
      th= t(:actions)
  tbody
    - @currency_rates.each do |currency_rate|
      tr
        td= currency_rate.day
        td= currency_rate.currency.name
        td= currency_rate.rate
        td
          = link_to currency_rate_path(currency_rate), class: "btn btn-xs"
            = fa_icon "info-circle lg", title: t(:show)

          = link_to edit_currency_rate_path(currency_rate), class: "btn btn-xs"
            = fa_icon "edit lg", title: t(:edit)

          = link_to currency_rate_path(currency_rate), class: "btn btn-xs", :method => :delete, :data => { :confirm => t(:are_you_sure)}
            = fa_icon "remove", title: t(:remove)
= paginate @currency_rates
p
  .page_entries_info
    = page_entries_info @currency_rates
= link_to t(:new_currency_rate), new_currency_rate_path, :class => 'btn btn-default btn-new'