.page-header
  h1=t(:currency_rate)

.fieldset
  dl
    dt.label.label-default= t(:day)
    dd
      pre.prettyprint= @currency_rate.day
    dt.label.label-default= t(:currency)
    dd
      pre.prettyprint= @currency_rate.currency.name
    dt.label.label-default= t(:rate)
    dd
      pre.prettyprint= @currency_rate.rate

.form-group
  = link_to t(:back), currency_rates_path, :class => 'btn btn-default btn-back'
  '
  = link_to t(:edit), edit_currency_rate_path(@currency_rate), :class => 'btn btn-default btn-edit'
  '
  = link_to t(:remove), currency_rate_path(@currency_rate), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'