@import "bootswatch/yeti/variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-custom";
@import "bootswatch/yeti/bootswatch";
@import "font-awesome";
@import "select2";
@import "select2-bootstrap";
@import "bootstrap-fileupload";
@import "blueimp-gallery.min";
@import "bootstrap-touchspin";
@import "blueimp-gallery.min";
@import 'bootstrap-datetimepicker';

/* Thumbnail caption stylesheet */
.thumbnail {
    position:relative;
    overflow:hidden;
}
.caption {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    color:#fff !important;
}
