.page-header
  h1=t(:products)
p
  button.btn.btn-primary type="button" class="" data-toggle="collapse" data-target="#filter"
    = fa_icon "search", text: t(:filter)
#filter.collapse
  .well.well-small
    = search_form_for @search, url: products_path, class: "form-horizontal" do |f|
      .form-group
        = f.label :article_cont, t(:article)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.text_field :article_cont, class: 'search-field form-control'
      .form-group
        = f.label :name_cont, t(:name)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.text_field :name_cont, class: 'search-field form-control'
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.button t(:search), class: 'btn btn-info btn-search'
          '
          button.btn.btn-info type="button" id="q_reset"
            =t(:reset)
table.table.table-striped
  thead
    tr
      th= sort_link @search, :article, t(:article)
      th= sort_link @search, :name, t(:name)
      th= t(:actions)
  tbody
    - @products.each do |product|
      tr
        td= product.article
        td= product.name
        td
          = link_to product_path(product), class: "btn btn-xs"
            = fa_icon "info-circle lg", title: t(:show)

          = link_to product_product_unit_of_measures_path(product), class: "btn btn-xs"
            = fa_icon "tasks lg", title: t(:product_unit_of_measures)

          = link_to edit_product_path(product), class: "btn btn-xs"
            = fa_icon "edit lg", title: t(:edit)

          = link_to product_path(product), class: "btn btn-xs", :method => :delete, :data => { :confirm => t(:are_you_sure)}
            = fa_icon "remove", title: t(:remove)
= paginate @products
p
  .page_entries_info
    = page_entries_info @products
= link_to t(:new_product), new_product_path, :class => 'btn btn-default btn-new'