.page-header
  h1=t(:product)

.fieldset
  dl
    dt.label.label-default= t(:article)
    dd
      pre.prettyprint= @product.article
    dt.label.label-default= t(:name)
    dd
      pre.prettyprint= @product.name
    dt.label.label-default= t(:desc)
    dd
      pre.prettyprint= @product.desc


.form-group
  = link_to t(:back), products_path, :class => 'btn btn-default btn-back'
  '
  = link_to t(:edit), edit_product_path(@product), :class => 'btn btn-default btn-edit'
  '
  = link_to t(:remove), product_path(@product), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'