.page-header
  h1=t(:service)

.fieldset
  dl
    dt.label.label-default= t(:name)
    dd
      pre.prettyprint= @service.name
    dt.label.label-default= t(:desc)
    dd
      pre.prettyprint= @service.desc

.form-group
  = link_to t(:back), services_path, :class => 'btn btn-default btn-back'
  '
  = link_to t(:edit), edit_service_path(@service), :class => 'btn btn-default btn-edit'
  '
  = link_to t(:remove), service_path(@service), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'