.page-header
  h1=t(:contractor)

.fieldset
  dl
    dt.label.label-default= t(:name)
    dd
      pre.prettyprint= @contractor.name


.form-group
  = link_to t(:back), contractors_path, :class => 'btn btn-default btn-back'
  '
  = link_to t(:edit), edit_contractor_path(@contractor), :class => 'btn btn-default btn-edit'
  '
  = link_to t(:remove), contractor_path(@contractor), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'