.page-header
  h1=t(:warehouse)

.fieldset
  dl
    dt.label.label-default= t(:name)
    dd
      pre.prettyprint= @warehouse.name


.form-group
  = link_to t(:back), warehouses_path, :class => 'btn btn-default btn-back'
  '
  = link_to t(:edit), edit_warehouse_path(@warehouse), :class => 'btn btn-default btn-edit'
  '
  = link_to t(:remove), warehouse_path(@warehouse), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'