.page-header
  h1=t(:wizard_step_2)
-if @errors
  .alert.alert-danger
    button type="button" class="close" data-dismiss="alert"
      | &times;
    h4=t('errors.title')
    ul
    - @errors.each do |msg|
      li= msg
= form_for wizard_path, :method => :put, :html => { :class => "form-horizontal" } do |f|
  .form-group
    .col-sm-offset-2.col-sm-10
      .checkbox
        = label_tag :warehouses, :class => 'control-label'
          = check_box_tag 'warehouses', true, Core::ModulesSettings.warehouses
          =  t(:warehouses)

  .form-group
    .col-md-offset-2.col-sm-3
      =' button_tag t(:save), :class =>'btn btn-primary', :disable_with => t(:please_wait)

= link_to t(:previous_step), previous_wizard_path, :class => 'btn btn-default btn-back pull-left'
= link_to t(:next_step), next_wizard_path, :class => 'btn btn-default btn-next pull-right'