doctype html
html lang="ru"
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"
    = viewport_meta_tag
    title = content_for?(:title) ? yield(:title) : t(:brand)
    = csrf_meta_tags

    /! Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = yield :stylesheets
    = yield :javascripts

  body
    nav.navbar.navbar-default.navbar-fixed-top role="navigation"
      .container-fluid
        .navbar-header
          button.navbar-toggle type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse"
            span.icon-bar
            span.icon-bar
            span.icon-bar
          = link_to t(:brand), root_path, class: 'navbar-brand'
        .navbar-collapse.collapse.navbar-responsive-collapse
          ul.nav.navbar-nav
            li.dropdown
              a href="#" class="dropdown-toggle" data-toggle="dropdown"
                =' t(:handbooks)
                span.caret
              ul.dropdown-menu role="menu"
                li
                  = link_to t(:contractors), contractors_path
                li
                  = link_to t(:warehouses), warehouses_path
                li
                  = link_to t(:products), products_path
                li
                  = link_to t(:unit_of_measures),unit_of_measures_path
                li
                  = link_to t(:services), services_path
                li
                  = link_to t(:resources), resources_path
                li
                  = link_to t(:money), money_index_path
                li
                  = link_to t(:currency_rates), currency_rates_path
            li.dropdown
              a href="#" class="dropdown-toggle" data-toggle="dropdown"
                =' t(:documents)
                span.caret
              ul.dropdown-menu role="menu"
                li
                  = link_to t(:purchases), purchases_path
            li.dropdown
              a href="#" class="dropdown-toggle" data-toggle="dropdown"
                =' t(:settings)
                span.caret
              ul.dropdown-menu role="menu"
                li
                  = link_to t(:company), company_path
                li
                  = link_to t(:users), users_path
                li
                  = link_to t(:settings), settings_path
                li
                  = link_to t(:wizard), wizard_index_path
          ul.nav.navbar-nav.pull-right
            li= link_to destroy_user_session_path do
                = fa_icon "sign-out lg", title: t(:sign_out)
    .container-fluid
      .row-fluid
        .col-md-12.well
          = bootstrap_flash
          = yield
      footer
        p &copy; Company 2014
    = debug(params) if Rails.env.development?